<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a href="personal_info.do">Personal information</a></li>
        <li><a href="/publish_product.do">Sell goods</a></li>
        <li><a href="/require_product.do">Post requirement</a></li>
        <li><a href="/shopping_cart.do">My cart</a></li>
        <li><a href="/my_publish_product_page.do">Sales history</a></li>
        <li><a href="/my_require_product_page.do">Requirement history</a></li>
        <li><a class="login_out" href="/logout.do">Log out</a></li>
    </ul>
</div>